menu "Drivers"

menu "Camera"
source "drivers/camera/Kconfig"
endmenu

menu "Chassis"
source "drivers/chassis/Kconfig"
endmenu

menu "Clock"
source "drivers/clock/Kconfig"
endmenu

menu "Compass"
source "drivers/compass/Kconfig"
endmenu

menu "Gps"
source "drivers/gps/Kconfig"
endmenu

menu "Gyro"
source "drivers/gyro/Kconfig"
endmenu

menu "Ladar"
source "drivers/ladar/Kconfig"
endmenu

endmenu
