
config RACK_SCAN2D
    bool "Scan2d"
    default y

config RACK_SCAN2D_MERGE
    bool "Scan2d - Merge"
    default y

config RACK_SCAN2D_SIM
    bool "Scan2d - Sim"
    default y

config RACK_SCAN2D_LAB
    bool "Scan2d - Lab"
    default y

