
config RACK_LADAR_IBEO
    bool "Ladar Ibeo"
    ---help---

config RACK_LADAR_HOKUYO_URG
    bool "Ladar Hokuyo urg"
    ---help---

config RACK_LADAR_SICK_LMS200
    bool "Ladar Sick LMS200"
    default y
    ---help---

config RACK_LADAR_SICK_S
    bool "Ladar Sick S"
    default y
    ---help---

