config RACK_VERSION
    string
    default "0.3.0"

mainmenu "RACK configuration"

menu "Build options"

config RACK_INSTALLDIR
    string "Installation directory"
    default "/usr/local/rack"
    help
    This option defines the directory where the various RACK
    files will be installed on your target system.
    This directory may be changed if you double-click in the area
    named "Value". The default installation directory is
    /usr/local/rack.

config RACK_XENOMAIDIR
    string "Xenomai build tree"
    default "/usr/xenomai"
    help
    This variable contains the directory where was built your
    Xenomai. As explained before, you can change the value
    of the Xenomai build tree which is fixed by default to
    /usr/xenomai i.e. the build directory of
    the running Xenomai.

config RACK_BUILD_KMOD
    bool "Build kernel modules"
    default y

config RACK_LINUXDIR
    string "Linux source tree"
    depends on RACK_BUILD_KMOD
    default "/lib/modules/`uname -r`/build"
    help
    This variable contains the directory where was your Linux source tree.

config RACK_JAVA
    bool "Rack Java"
    default y
    help
    Help text.

config RACK_JAVA_GUI
    bool "Rack Java Gui"
    default y
    depends on RACK_JAVA
    help
    Help text.

config RACK_DOC_DOX
    bool "Generate Rack Doxygen API"
    help
    Help text.

menu "External Dependencies"

config RACK_RTNET_SUPPORT
    bool "Enable RTnet support"
    help
    Enable RTnet support for Rack.

config RACK_RTNETDIR
    string "RTnet install directory"
    depends on RACK_RTNET_SUPPORT
    default ""
    help

config RACK_RTCAN_SUPPORT
    bool "Enable rt_sja100 support"
    help
    Enable realtime CAN support for Rack.

config RACK_RTCANDIR
    string "RTcan rt_sja1000 install directory"
    depends on RACK_RTCAN_SUPPORT
    default ""
    help

config RACK_LIBRAW1394_SUPPORT
    bool "Enable libraw1394 support"
    help
    Enable ieee1394 firewire support for Rack.

config RACK_LIBRAW1394DIR
    string "libraw1394 install directory"
    depends on RACK_LIBRAW1394_SUPPORT
    default ""
    help

config RACK_LIBDC1394_SUPPORT
    bool "Enable libdc1394 support"
    select RACK_LIBRAW1394_SUPPORT
    help
    Enable ieee1394 digital camera support for Rack.

config RACK_LIBDC1394DIR
    string "libdc1394 install directory"
    depends on RACK_LIBDC1394_SUPPORT
    default ""
    help

config RACK_LIBJPEG_SUPPORT
    bool "Enable libjpeg support"
    help
    Enable libjpeg support for Rack.

config RACK_LIBJPEGDIR
    string "libjpeg install directory"
    depends on RACK_LIBJPEG_SUPPORT
    default ""
    help

config RACK_LIBPNG_SUPPORT
    bool "Enable libpng support"
    help
    Enable libpng support for Rack.

config RACK_LIBPNGDIR
    string "libpng install directory"
    default ""
    depends on RACK_LIBPNG_SUPPORT
    help

config RACK_OPENCV_SUPPORT
    bool "Enable opencv support"
    select RACK_LIBDC1394_SUPPORT
    select RACK_LIBRAW1394_SUPPORT
    select RACK_LIBJPEG_SUPPORT
    select RACK_LIBPNG_SUPPORT
    help
    Enable opencv support for Rack.

config RACK_OPENCVDIR
    string "opencv install directory"
    depends on RACK_OPENCV_SUPPORT
    default ""
    help

endmenu

endmenu

source "drivers/Kconfig"
source "navigation/Kconfig"
source "perception/Kconfig"
source "skel/Kconfig"
