
config RACK_PILOT_JOYSTICK
    bool "Pilot - Joystick"
    default y

config RACK_PILOT_WALL_FOLLOWING
    bool "Pilot - WallFollowing"
    default y

config RACK_PILOT_LAB
    bool "Pilot - Laboratory"
    default y

