
config RACK_PILOT_JOYSTICK
    bool "Pilot Joystick"
    default y
    ---help---
    Help text.

config RACK_PILOT_WALL_FOLLOWING
    bool "Pilot Wall Following"
    default y
    ---help---
    Help text.

