
config RACK_CHASSIS_SIM
    bool "Chassis - Sim"
    default y

config RACK_CHASSIS_PIONEER
    bool "Chassis - Pioneer"
    default y

config RACK_CHASSIS_ER1
    bool "Chassis - Er1"
    default y

config RACK_CHASSIS_ROOMBA
    bool "Chassis - Roomba"
    default y
